<div id="library">
    <div class="container">
        <h1>Music List</h1>
        <table class="table table-hover">
            <thread>
                <tr>
                    <th>Name</th>
                    <th>Artist</th>
                    <th>Album</th>
                    <th>Tag</th>
                </tr>
            </thread>
            <tbody>
                <tr>
                    <td>Look What You Made Me Do</td>
                    <td>Taylor Swift</td>
                    <td>Reputation</td>
                    <td>Pop</td>
                </tr>
            </tbody>
        </table>


  <button onclick="document.getElementById('id01').style.display='block'" 
  class="w3-button w3-black w3-large">Add Song</button>

  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

      <div class="w3-center"><br>
        <span 
        onclick="document.getElementById('id01').style.display='none'" 
        class="w3-button w3-xlarge w3-hover-red w3-display-topright" 
        title="Close Modal">&times;</span>
        
      </div>

      <form class="w3-container" action="/action_page.php">
        <div class="w3-section">
          <label><b>Name</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Name" name="name" required><br>
          <label><b>Artist</b></label>
          <input class="w3-input w3-border" type="Artist" placeholder="Enter Artist" name="artist" required><br>
          <label><b>Album</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Album" name="album" required><br>
          <label><b>Tag</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Tag" name="tag" required><br>
          <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Enter</button>
       
        </div>
      </form>

      <div class="w3-container w3-border-top w3-padding-16 w3-black">
 
       
      </div>

    </div>
  </div>
        <div style="position:absolute; bottom:45px;width:100%">
        <button type="button" class="btn btn-info">
             <span class="glyphicon glyphicon-play"></span>Play
             </button>
        </div>
       <div style="position:absolute; bottom:0px;width:90%">
       <div class="progress">
           
    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
      <span class="sr-only">70% Complete</span>
    </div>
    </div>
    </div>
  </div>
    
   
</div>
        