<div id="login">
    {{!-- <h1>Libr<i>Aria</i></h1> --}}
    <div class="container">
        <div id="signinModal">
            <form action="/" method="post">
                <h2>Login</h2>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>
        